body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px;
  color: #333;
  background-color: #eefefe;
}

#md_file_form {
 display: block;
 border: solid 1px #ccc;
 width: 605px;
 margin: 10px auto 10px;
 background-color: white;
 border-radius: 5px;
}

#md_file_input {
 display: block-inline;
 width: 500px;
}

#md_file_submit {
 display: block-inline;
 width: 100px;
}
